<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="de.appplant.cordova.plugin.printer"
        version="0.2.0">

    <name>Printer</name>

    <description>A bunch of printig plugins for Cordova 3.x.x</description>
    <keywords>print, printer, ios</keywords>
    <license>GPL v2 License</license>

    <author>Sebastián Katzer (github.com/katzer)</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
		<feature name="Printer">
			<param name="ios-package" value="APPPrinter"/>
		</feature>
        </config-file>

        <js-module src="www/printer.js" name="printer">
            <clobbers target="plugin.printer" />
        </js-module>

	<header-file src="src/ios/APPPrinter.h" />
	<source-file src="src/ios/APPPrinter.m" />

    </platform>

</plugin>
