<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="de.appplant.cordova.plugin.printer"
        version="0.7.1">

    <name>Printer</name>

    <description>
        Cordova plugin to print HTML documents using AirPrint
        and Android Printing Framework.
    </description>

    <repo>
        https://github.com/katzer/cordova-plugin-printer.git
    </repo>

    <keywords>
        print, printer, ios, android, google cloud, air print
    </keywords>

    <license>Apache 2.0</license>

    <author>Sebastián Katzer</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/printer.js" name="Printer">
        <clobbers target="plugin.printer" />
        <clobbers target="cordova.plugins.printer" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Printer">
                <param name="ios-package" value="APPPrinter"/>
            </feature>
        </config-file>

        <header-file src="src/ios/APPPrinter.h" />
        <source-file src="src/ios/APPPrinter.m" />

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Printer">
                <param name="android-package" value="de.appplant.cordova.plugin.printer.Printer"/>
            </feature>
        </config-file>

        <source-file src="src/android/Printer.java" target-dir="src/de/appplant/cordova/plugin/printer" />
    </platform>
</plugin>
